/* * {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
} */

.mb {
  margin-bottom: 30px;
}
.left {
  margin-left: 80px;
}
.ui-Options {
  border: none;
  width: 80%;
  padding: 14px 18px;
  border-radius: 30px;
  text-align: left;
  cursor: pointer;
  display: block;
}
.option {
  width: 40%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}
progress {
  width: 100%;
  height: 12px;
}
.progress-bar {
  width: 50%;
  margin: 0px auto;
}
.finished {
  width: 30%;
  margin: 0px auto;
  font-size: 20px;
  border-radius: 20px;
  background-color: lightblue;
  color: white;
  padding: 20px 10px;
  text-align: center;
  font-weight: bold;
}

.nxt-btn {
  position: absolute;
  right: 10px;
  bottom: -60px;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 30px;
}
.time-btn {
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 30px;
  border: none;

  font-size: 16px;
  position: absolute;
  left: 430px;
  top: 30px;
  background-color: rgb(189, 185, 181);
}

.green {
  background-color: lightgreen;
}
.red {
  background-color: red;
}
.right {
  margin-right: 10px;
}
.option-ui:hover {
  background-color: #fffcfc;
  color: black;
}
.progess {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-ui {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  margin-top: 30px;
  font-size: 16px;
  background: linear-gradient(to right, rgb(242, 252, 111), rgb(192, 243, 52));
}
.question {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
