* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(
    to right,
    rgb(89, 89, 223),
    lightblue
  ); /* Optional: to see the effect more clearly */
}
