* {
  padding: 0;
  margin: 0;
}
.Navbar {
  width: 100%;
  display: flex;
  padding: 20px 0px;
  background-color: rgb(128, 210, 238);
  border: none;
  align-items: center;
  justify-content: space-between;
  margin: 10px 1px;
  border-radius: 6px;
}
.result {
  text-align: end;
}
.nav-Items {
  font-size: 20px;
  width: 33%;
  margin: 0px 10px;
}

.nav-Items input {
  width: 100%;
  padding: 6px 10px;
  outline: none;
  border: none;
  border-radius: 6px;
  height: 22px;
}
.main {
  display: flex;
  flex-direction: column;
}
.movie-Containers {
  width: 80%;

  margin: 10px auto;
  display: flex;
  gap: 20px;
}
.left {
  width: 48%;
  background-color: rgb(235, 245, 255);
  padding: 10px;
  padding-top: 38px;
  border-radius: 6px;
  position: relative;
  min-height: 80vh;
}
.right {
  width: 48%;
  background-color: rgb(235, 245, 255);
  padding: 10px;
  padding-top: 38px;
  border-radius: 6px;
  position: relative;
  min-height: 80vh;
}
.hide {
  padding: 1px 8px;
  border-radius: 50%;
  background-color: rgb(2, 2, 2);
  border: none;
  color: white;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  top: 10px;
  right: 10px;
}
.Movie {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid gainsboro;
}
.Movie:hover {
  background-color: rgb(216, 241, 255);
  border-radius: 6px;
}
.Movie_Name_Date p {
  font-size: 20px;
  margin-bottom: 10px;
}
.posterContainer {
  width: 120px;
  height: 150px;
  border: none;

  border-radius: 6px;
}
.posterContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie-detail {
  background-color: lightgray;
  padding: 10px;
  border-radius: 6px;
}
.movie-detail .big {
  font-size: 26px;
  font-weight: bold;
}
.movie-detail .movie-details-des {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 20px;
}

.movieCard {
  width: 100%;
  display: flex;
  padding: 20px;
  gap: 40px;
}
.poster {
  width: 200px;
  /* height: 200px; */
}
.poster img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.details .title {
  font-size: 30px;
  font-weight: bold;
  /* font-family: ; */
}
.details p {
  font-size: 18px;
  margin-bottom: 20px;
}
.description p {
  margin-bottom: 20px;
  font-size: 18px;
}
.selectedMovieDetails {
  position: relative;
}
.watching-btn {
  position: absolute;
  top: 10px;
  left: 8px;
  padding: 10px;
}
.star_and_add {
  width: 100%;
}
.starContainer {
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(208, 222, 253, 0.781);
  align-items: center;
  gap: 5px;
}
.starContainer button {
  padding: 14px 8px;
  width: 70%;
  background-color: rgb(139, 207, 250);
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
}
.my-Watchlist {
  width: 100%;
  margin: 10px auto;
}
.watchlist_Movie {
  display: flex;
  padding: 10px;
  gap: 20px;
  position: relative;
}
.watchlist_Movie:hover {
  background-color: rgba(192, 239, 255, 0.425);

  border-radius: 6px;
}
.watchlist_Movie .poster_container {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}
.poster_container img {
  width: 100%;
  height: 100%;
}
.movie-details {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}
.movie-details .title {
  font-size: 25px;
}
.rating-and-time {
  width: 80%;
  display: flex;

  justify-content: space-between;
  font-size: 18px;
}

.stars {
  display: flex;
  gap: 4px;
  width: 100%;
  margin: 10px auto;
  cursor: pointer;
  align-items: center;
}
.stars div {
  width: 90%;
}
.stars p {
  font-size: 18px;
  font-weight: bold;
  width: 20px;
  margin-left: 10px;
}

.removeMovie {
  position: absolute;
  right: 10px;
  top: 30%;
  background-color: red;
  padding: 0px 6px;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.INput {
  box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.2);
  background-color: rgb(128, 210, 238);
  color: white;
  font-size: 18px;
}
